<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.incarcloud.oauth2.rbac.mapper.RbacAuthorityMapper">

    <resultMap id="BaseResultMap" type="com.incarcloud.oauth2.pojo.RbacAuthority">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, parent_id, icon, name, code, url, type, remark
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT
        a.*
        FROM rbac_user AS u
        LEFT JOIN rbac_user_role AS ur ON u.id = ur.user_id
        LEFT JOIN rbac_role AS r ON r.id = ur.role_id
        LEFT JOIN rbac_role_authority AS ra ON r.id = ra.role_id
        LEFT JOIN rbac_authority AS a ON a.id = ra.authority_id
        WHERE u.id = #{userId}
    </select>
</mapper>
